#logo {
    display: block;
    width: 15%;
    margin: 10% auto 0;
}

#logo img {
     width: 100%;
}

#log-form {
    display: block;
    width: 25%;
    margin: 1% auto;
}

#log-form form input{
    display: block;
    font-size: 20px;
    margin: 5% auto;
}

#register {
    display: block;
    text-align: center;
}