<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Strona Główna</title>
    <link rel="stylesheet" href="/login.css">
</head>
<body>
    <div th:replace="fragments.html :: logo"></div>
    <div id="log-form">
        <form method="post">
            <input type="text" placeholder="login" id="login" th:field="*{user.login}">
            <input type="password" placeholder="hasło" id="password" th:field="*{user.password}">
            <input type="submit" value="Zaloguj">
        </form>
        <div id="register">Nie masz jeszcze konta? <a href="/register">Zarejestruj się</div>
    </div>
</body>
</html>